{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'templates/website/template2/main.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="container">
        <header class="header"><a href="{% url 'index' %}">Leaf Micro Blogging Systems</a></header>
        <div class="menu">
            <!-- <a href="{% url 'index' %}"><span>Main</span></a> -->
            {% if not user.is_authenticated %}
            <a href="{% url 'sign_up' %}"><span>Sign Up!</span></a>
            <a href="{% url 'log_in' %}"><span>Log In</span></a>
            {% endif %}
            {% if user.is_authenticated %}
            <a href="{% url 'all_posts' %}"><span>All Posts</span></a>
            <a href="{% url 'user_posts' %}"><span>My Posts</span></a>
            <a href="{% url 'user_account_info' %}"><span>Account</span></a>
            <a href="{% url 'log_out' %}"><span>Log Out</span></a>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <div class="add-post__pc">
            <a href="{% url 'add_post' %}">Add Post</a>
        </div>
        {% endif %}
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="footer">
            <a href="https://github.com/The-Estonian/LMBS">GIT</a>
            {% if user.is_authenticated %}
            <div class="add-post__mob">
                <a href="{% url 'add_post' %}">Add Post</a>
            </div>
            {% endif %}
            <a href="https://www.linkedin.com/in/jaanus-s-3897a721b/">Contact Me!</a>
        </div>
    </div>
</body>
</html>

