{% extends "website/core_template.html" %}

{% block content %}
    <form class="form-new-post" method="post">
        {% csrf_token %}
        <label for="new_post">
            <span class="form-new-post__name">Edit Post</span>
            {% for post in post_edit %}
            <textarea class="form-new-post__textarea" name="edit_post" id="edit_post">{{post.message}}</textarea>
            {% endfor %}
        </label>
        <input class="form-new-post__submit" type="submit" value="Edit Post!">
    </form>
{% endblock %}