{% extends "website/core_template.html" %}

{% block content %}
    <div class="add-post">
        <a href="{% url 'add_post' %}"><span>Add Post</span></a>
    </div>
    {% if current_user_posts %}
        {% for posts in current_user_posts reversed %}
            <div class="post-instance">
                <span class="post-instance__username">{{posts.user_id.username}} posted:</span>
                <span class="post-instance__post">{{posts.message}}</span>
            </div>
        {% endfor %}
    {% else %}
            <span class="no-content-span">No Posts yet!</span>
    {% endif %}
{% endblock %}