{% extends "website/core_template.html" %}

{% block content %}
    {% if current_user_posts %}
        {% for posts in current_user_posts reversed %}
            <div class="post-instance">
                <span class="post-instance__username"><a href="{% url 'public_account' posts.user_id.id %}">{{posts.user_id.username}}</a></span>
                <span class="post-instance__post">{{posts.message}}</span>
                <a class="post-instance__edit" href="{% url 'edit_post' posts.id %}"><span>e</span></a>
                <form class="post-instance__delete" method="post">
                    {% csrf_token %}
                    <input class="hidden" type="text" name="delete_post" value="{{posts.id}}">
                    <input class="post-instance__delete__button" type="submit" value="x">
                </form>
            </div>
        {% endfor %}
    {% else %}
            <span class="no-content-span">No Posts yet!</span>
    {% endif %}
{% endblock %}