@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@mixin flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

$background-style: linear-gradient(225deg,rgba(rgb(247, 54, 54), 0.2), rgba(black, 0.9), rgba(rgb(247, 54, 54), 0.2), rgba(black, 0.9), rgba(rgb(247, 54, 54), 0.2));
$box-shadow: 2px 1px 10px white;
$border-radius: 2rem 0;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

html{
    height: 100%;
    body{
        height: 100%;
    }
}

.container{
    @include flex-col;
    height: 100%;
    background: url("./images/background2.jpg");
    background-size: cover;
    background-position: 50% 50%;
    
}

.header{
    position: absolute;
    top: 2rem;
    left: 5%;
    a{
        font-size: 1.4rem;
        font-family: 'Source Code Pro', monospace;
        box-shadow: $box-shadow;
        color: white;
        text-decoration: none;
        padding: 1rem 2rem;
        border: 2px solid white;
        border-radius: $border-radius;
        text-align: center;
        background: $background-style;
        border: 2px solid transparent;
        transition: 0.5s;
        &:hover{
            border: 2px solid rgb(0, 0, 0);
            background: rgba(red, 0.5);
            border-radius: $border-radius;
        }
    }
}

.footer{
    @include flex-row;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-right: auto;
    margin-bottom: 0.5rem;
    a{
        box-shadow: $box-shadow;
        width: 10rem;
        color: white;
        text-decoration: none;
        padding: 1rem;
        border: 2px solid white;
        margin: 0 10%;
        margin-right: 20%;
        border-radius: $border-radius;
        text-align: center;
        background: $background-style;
        border: 2px solid transparent;
        transition: 0.5s;
        &:hover{
            border: 2px solid rgb(0, 0, 0);
            background: rgba(red, 0.5);
            border-radius: $border-radius;
        }
    }
}

.menu{
    box-shadow: $box-shadow;
    @include flex-col;
    position: absolute;
    top: 5.5rem;
    right: 4rem;
    width: 10rem;
    border: 2px solid white;
    border-radius: $border-radius;
    overflow: hidden;
    background: $background-style;
    a{
        background: $background-style;
        padding: 1rem;
        text-decoration: none;
        width: 10rem;
        text-align: center;
        border: 2px solid transparent;
        transition: 0.5s;
        span{
            color: white;
        }
        &:hover{
            border: 2px solid rgb(0, 0, 0);
            background: rgba(red, 0.5);
        }
    }
}

.content{
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    margin-right: auto;
    margin-left: 5%;
    width: 80%;
    height: 80%;
    box-shadow: $box-shadow;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    .no-content-span{
        height: 100%;
        @include flex-col;
    }
    &::-webkit-scrollbar{
        display: none;
    }
}

.form-signup,
.form-login,
.form-new-post{
    @include flex-col;
    height: 100%;
    label{
        @include flex-col;
    }
    p{
        color: white;
        font-size: 1rem;
        margin: 1rem;
    }
}

.add-post{
    box-shadow: $box-shadow;
    @include flex-col;
    position: absolute;
    top: 24rem;
    right: 4rem;
    width: 10rem;
    border: 2px solid white;
    border-radius: $border-radius;
    overflow: hidden;
    a{
        background: $background-style;
        padding: 1rem;
        text-decoration: none;
        width: 10rem;
        text-align: center;
        border: 2px solid transparent;
        transition: 0.5s;
        span{
            color: white;
        }
        &:hover{
            border: 2px solid rgb(0, 0, 0);
            background: rgba(red, 0.5);
            border-radius: $border-radius;
        }
    }
}

.post-instance{
    display: flex;
    flex-direction: row;
    width: 95%;
    text-align: center;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    margin: 1rem auto;
    background: $background-style;
    padding: 1rem;
    position: relative;
    &__username{
        position: absolute;
        bottom: 0.2rem;
        left: 0.2rem;
    }
    &__post{
        width: 90%;
    }
    &__delete{
        position: absolute;
        top: 0;
        right: 0;
        &__button{
            border: none;
            color: white;
            background: rgba(red, 0.5);
            padding: 0.2rem 0.5rem;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

.registration-success{
    @include flex-col;
    height: 100%;
    &__content{
        padding: 1rem;
        text-align: center;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        margin: 0.5rem auto;
        background: $background-style;
    }
    &__login{
        background: $background-style;
        padding: 1rem;
        text-decoration: none;
        width: 10rem;
        text-align: center;
        border: 2px solid transparent;
        transition: 0.5s;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        margin: 0.5rem auto;
        span{
            color: white;
        }
        &:hover{
            border: 2px solid rgb(0, 0, 0);
            background: rgba(red, 0.5);
        }
    }
}

.user-info{
    @include flex-col;
    height: 100%;
}

.hidden{
    display: none;
    visibility: hidden;
}
