@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@mixin flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

$box-shadow: 2px 1px 10px white;
$font: 1.3rem;
$border-radius: 2rem 0;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    height: 100%;
    body{
        height: 100%;
    }
}

.container{
    @include flex-col;
    height: 100%;
    background: url("./images/background2.jpg");
    background-size: cover;
    background-position: 50% 50%;
    
}

.footer{
    @include flex-row;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-right: auto;
    margin-bottom: 1rem;
    a{
        box-shadow: $box-shadow;
        width: 10rem;
        color: white;
        text-decoration: none;
        padding: 1rem;
        border: 2px solid white;
        margin: 0 10%;
        margin-right: 20%;
        border-radius: $border-radius;
        text-align: center;
    }
}

.menu{
    box-shadow: $box-shadow;
    @include flex-col;
    position: absolute;
    top: 5.5rem;
    right: 4rem;
    width: 10rem;
    border: 2px solid white;
    border-radius: $border-radius;
    a{
        padding: 1rem;
        text-decoration: none;
        width: 10rem;
        text-align: center;
        span{
            color: white;
        }
    }
}

.content{
    @include flex-col;
    border-radius: $border-radius;
    margin-right: auto;
    margin-left: 5%;
    width: 80%;
    height: 80%;
    box-shadow: $box-shadow;
    color: white;
}

.form-signup,
.form-login{
    @include flex-col;
    label{
        @include flex-col;
    }
    p{
        color: white;
        font-size: 1rem;
        margin: 1rem;
    }
}
