{% extends "website/core_template.html" %}

{% block content %}
    {% if account_info %}
        {% for value in account_info %}
            <div class="user-info">
                <p>User ID: {{value.id}}</p>
                <p>User Username: {{value.username}}</p>
                <p>User First name: {{value.first_name}}</p>
                <p>User Last name: {{value.last_name}}</p>
                <p>User Email: {{value.email}}</p>
                <p>User is Superuser?: {{value.is_superuser}}</p>
                <p>User is staff?: {{value.is_staff}}</p>
                <p>User is active?: {{value.is_active}}</p>
                <p>User Last login: {{value.last_login}}</p>
                <p>User joined us: {{value.date_joined}}</p>
                <div class="delete-button">
                    <form method="post">
                        {% csrf_token %}
                        <label for="delete-account">
                            <input class="hidden" value="{{value.id}}" type="text" name="delete-account">
                        </label>
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}