{% extends "website/core_template.html" %}

{% block content %}
    {% if account_info %}
        {% for value in account_info %}
            <div class="edit-account">
                <form class="edit-account__form" method="post">
                    {% csrf_token %}
                        <label for="user_id">
                            <input class="hidden" type="text" name="user_id" value="{{value.id}}">
                        </label>
                    <label class="edit-account__form__container" for="username">
                        <span class="edit-account__form__container__span">Username:</span>
                        <input class="edit-account__form__container__p" type="text" name="username" value="{{value.username}}">
                    </label>
                    <label class="edit-account__form__container" for="first_name">
                        <span class="edit-account__form__container__span">First name:</span>
                        <input class="edit-account__form__container__p" type="text" name="first_name" value="{{value.first_name}}">
                    </label>
                    <label class="edit-account__form__container" for="last_name">
                        <span class="edit-account__form__container__span">Last name:</span>
                        <input class="edit-account__form__container__p" type="text" name="last_name" value="{{value.last_name}}">
                    </label>
                    <label class="edit-account__form__container" for="email">
                        <span class="edit-account__form__container__span">Email:</span>
                        <input class="edit-account__form__container__p" type="email" name="email" value="{{value.email}}">
                    </label>
                    <div class="edit-account__form__passwords">
                        <label class="edit-account__form__container" for="old_password">
                            <span class="edit-account__form__container__span">Old password:</span>
                            <input class="edit-account__form__container__p" type="password" name="old_password">
                        </label>
                        <label class="edit-account__form__container" for="new_password">
                            <span class="edit-account__form__container__span">New password:</span>
                            <input class="edit-account__form__container__p" type="password" name="new_password">
                        </label>
                        <label class="edit-account__form__container" for="new2_password">
                            <span class="edit-account__form__container__span">Repeat password:</span>
                            <input class="edit-account__form__container__p" type="password" name="new2_password">
                        </label>
                    </div>
                    <input class="account-buttons__form__delete__button" type="submit" value="Edit">
                    {% if email_error %}
                    <span>{{email_error}}</span>
                    {% endif %}
                    {% if username_error %}
                    <span>{{username_error}}</span>
                    {% endif %}
                    {% if password_missmatch %}
                    <span>{{password_missmatch}}</span>
                    {% endif %}
                    {% if wrong_password %}
                    <span>{{wrong_password}}</span>
                    {% endif %}
                </form>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}