{% extends "website/core_template.html" %}

{% block content %}
    <form class="form-login" method="post">
        {% csrf_token %}
        <label for="email">
            <span>Email</span>
            <input type="email" name="email" id="email">
        </label>
        <label for="password">
            <span>Password</span>
            <input type="password" name="password" id="password">
        </label>
        <input type="submit" value="Log In!">
        {% if email %}
            <p>{{email}}</p>
        {% endif %}
        {% if user_error %}
            <p>{{user_error}}</p>
        {% endif %}
        {% if password_match %}
            <p>{{password_match}}</p>
        {% endif %}
        {% if password_error %}
            <p>{{password_error}}</p>
        {% endif %}
    </form>
{% endblock %}