{% extends "website/core_template.html" %}

{% block content %}
    {% if user_account %}
        {% for value in user_account %}
                <div class="user-info">
                    <div class="user-info__container">
                        <span class="user-info__container__span">Username</span>
                        <p class="user-info__container__p">{{value.username}}</p>
                    </div>
                    <div class="user-info__container">
                        <span class="user-info__container__span">First name</span>
                        <p class="user-info__container__p">{{value.first_name}}</p>
                    </div>
                    <div class="user-info__container">
                        <span class="user-info__container__span">Last name</span>
                        <p class="user-info__container__p">{{value.last_name}}</p>
                    </div>
                    <div class="user-info__container">
                        <span class="user-info__container__span">Email</span>
                        <p class="user-info__container__p">{{value.email}}</p>
                    </div>
                    <div class="user-info__container">
                        <span class="user-info__container__span">Administrator</span>
                        <p class="user-info__container__p">{{value.is_superuser}}</p>
                    </div>
                    <div class="user-info__container">
                        <span class="user-info__container__span">Last login</span>
                        <p class="user-info__container__p">{{value.last_login}}</p>
                    </div>
                    <a class="account-buttons__edit__button" href="{% url 'public_posts' value.id %}">User posts</a>
                </div>
        {% endfor %}
    {% endif %}
{% endblock %}